/*(function () {
    'use strict';

    angular
        .module('app')
        .factory('albums', albums);

    albums.$inject = ['$http'];

    function albums($http) {
        var service = {
            getData: getData
        };

        return service;

        function getData() { }
    }
})();*/
.photo-square {
    width: auto;
    height: auto;
    background: darkgray;
    border-radius: 25px;
    padding: 20px;
}
